.emotions {
  padding: 42px 20px;
}

.emotions__title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-align: center;
}

.emotions__text {
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  font-size: 18px;
  line-height: 30px;
  color: inherit;
  font: inherit;
}
