.form-achievements {
  background-color: #f2f2f2;
  padding: 42px 20px;
}

.form-achievements__title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-align: center;
}

.form-achievements__list {
  list-style: none;
}

.form-achievements__item label {
  padding-left: 60px;
}
