.form-name__list {
  list-style: none;
}

.form-name__item {
  padding-bottom: 20px;
  text-transform: uppercase;
}

.form-name__item label {
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
}

.form-name__item input {
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  font-size: 18px;
  line-height: 30px;
  outline: none;
  color: #000000;
  font-style: inherit;
  font-variant-ligatures: inherit;
  font-variant-caps: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-family: inherit;
}
