.intro {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #1d2631;
}

.intro__title {
  padding-top: 100px;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}
