.post__text-content {
  padding: 15px 25px;
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: 400;
}

.post__list {
  list-style: none;
}

.post__autor {
  font-weight: 700;
}

.post__time {
  font-weight: 300;
  color: #888888;
}

.post__text {
  line-height: 26px;
  min-height: 52px;
}

.post__likes {
  color: #d22856;
}
