.review {
  padding-top: 45px;
}

.review__list {
  list-style: none;
}

.review__autor {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.review__text {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}
