.send-form__button {
  width: 280px;
  height: 65px;
  background-color: #2aab6d;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
}

.send-form__text {
  text-transform: uppercase;
      font-size: 14px;
}

.send-form__text sup {
  color: #d22856;
}
