.send-photo__filters {
  list-style: none;
}

.send-photo__buttons--send {
  width: 280px;
  padding: 10px;
  border-radius: 50px;
  font-weight: 700;
  background-color: #f2f2f2;
  color: #d22856;
  border: 3px solid #d22856;
}

.send-photo__buttons--cancel {
  width: 280px;
  padding: 10px;
  border-radius: 50px;
  font-weight: 700;
  background-color: #f2f2f2;
  color: #dddfe0;
  border: 3px solid #dddfe0;
}
